@import "tailwindcss";

@theme {
  --color-primary: #7C3AED;
  --font-sans: "Fira Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  overscroll-behavior-y: contain;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono);
}
